body{
    background-position: center;
    background-size: 50%;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px white;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}